torch>=2.0,<=2.10
tensorboard>=1.15.0
tensorboardx>=2.0
psutil>=5.7.0
threadpoolctl>=2.0.0
pybind11==2.13.1
cppimport==22.7.17
matplotlib
seaborn
tabulate>=0.8.7,<=0.8.10
protobuf==3.20.3
importlib-metadata==4.13.0
dask[distributed]
loguru
pogema-toolbox @ git+https://github.com/Cognitive-AI-Systems/pogema-toolbox.git@toolbox-for-pogema-2.0
pyarrow
huggingface_hub
setuptools<=79.0.1